<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Library Management System</title>
</head>
<body>
<h1 class="text-center mt-3">Library Management System</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active"  aria-current="page" routerLinkActive="active" routerLink="bookstore">Book List</a>
  </li>

  <li class="nav-item">
    <a class="nav-link "  aria-current="page" routerLinkActive="active" routerLink="save">Add New Book</a>
  </li>
  </ul>



<div class="container">
<!--  <app-book-list/>-->
  <router-outlet/>
</div>


</body>


</html>
